<h1>Add a New Child</h1>

<%= form_with(model: @child, url: children_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.number_field :grade %>
  </div>

  <%= form.hidden_field :parent_id, value: current_parent.id %>

  <%= form.submit "Add Child" %>
<% end %>
