<div class="container py-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4"><%= @child.name %></h1>
      <div class="text-center">
        <% @child.pictures.each do |picture| %>
          <%= image_tag picture.image, alt: "Child Image", class: "img-fluid rounded-circle w-50 mb-3" %>
        <% end %>
      </div>
      <p class="text-center">Grade: <%= @child.grade %></p>
      <div class="text-center">
        <%= link_to 'Edit', edit_child_path(@child), class: "btn btn-primary me-2" %>
        <%= link_to 'Back', children_path, class: "btn btn-secondary" %>
        <%= button_to 'Delete', @child, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger ms-2", style: "display: inline-block;" %>
      </div>
    </div>
  </div>
</div>
