<section class="banner" style="background-color: #f8f9fa; padding: 40px;">
  <div class="container">
    <h2 style="font-size: 24px; font-weight: bold; color: #333; text-align: center;">Smart Education is a way to GO!</h2>
    <p style="font-size: 18px; color: #555; text-align: center;">- Smart Pods</p>
    <%= form_tag(root_path, method: "get", remote: true)  do %>
      <div class="input-group mx-auto" style="width: 50%;">
        <%= text_field_tag :address_search, nil, class: "form-control", placeholder: "Search Pods..." %>
        <div class="input-group-append">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</section>




        <!-- Classes Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Pods</h1>
                    <p>Explore our diverse range of pods designed to inspire and educate your child in a supportive
                        environment.</p>
                </div>
                <div class="row g-4">
                <% if @pods.present? %>
                    <% @pods.each do |pod| %>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="classes-item">
                                <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                    <% if pod.pictures.present? && pod.pictures.first.image.attached? %>
                                        <%= image_tag pod.pictures.first.image, alt: "...", class: "img-fluid rounded-circle" %>
                                    <% else %>
                                        <%= image_tag 'classes-3.jpg', alt: "Default Image", class: "img-fluid rounded-circle" %>
                                    <% end %>
                                </div>
                                <div class="bg-light rounded p-4 pt-5 mt-n5">
                                    <a class="d-block text-center h3 mt-3 mb-4" href="<%= pod_path(pod) %>">
                                        <%= pod.name %>
                                    </a>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <% if pod.teacher.present? && pod.teacher.pictures.present? && pod.teacher.pictures.first.image.attached? %>
                                                <%= image_tag(pod.teacher.pictures.first.image, class: "rounded-circle flex-shrink-0", style: "width: 45px; height: 45px;", alt: "" ) %>
                                            <% end %>
                                                        <div class="ms-3">
                                                            <h6 class="text-primary mb-1">
                                                                <%= pod.teacher.name %>
                                                            </h6>
                                                            <small>Teacher</small>
                                                        </div>
                                        </div>
                                        <span class="bg-primary text-white rounded-pill py-2 px-3" href="">
                                            <%= pod.status %>
                                        </span>
                                    </div>
                                    <div class="row g-1">
                                        <div class="col-4">
                                            <div class="border-top border-3 border-primary pt-2">
                                                <h6 class="text-primary mb-1">Grade:</h6>
                                                <small>
                                                    <%= pod.grade %>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border-top border-3 border-success pt-2">
                                                <h6 class="text-success mb-1">Zipcode:</h6>
                                                <small>
                                                    <%= pod.address.zipcode %>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border-top border-3 border-warning pt-2">
                                                <h6 class="text-warning mb-1">State:</h6>
                                                <small>
                                                    <%= pod.address.state %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <% end %>
                    <% else %>
                      <% @recent_pods.each do |pod| %>
                         <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="classes-item">
                                <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                    <% if pod.pictures.present? && pod.pictures.first.image.attached? %>
                                        <%= image_tag pod.pictures.first.image, alt: "...", class: "img-fluid rounded-circle" %>
                                    <% else %>
                                        <%= image_tag 'classes-3.jpg', alt: "Default Image", class: "img-fluid rounded-circle" %>
                                    <% end %>
                                </div>
                                <div class="bg-light rounded p-4 pt-5 mt-n5">
                                    <a class="d-block text-center h3 mt-3 mb-4" href="<%= pod_path(pod) %>">
                                        <%= pod.name %>
                                    </a>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <% if pod.teacher.present? && pod.teacher.pictures.present? && pod.teacher.pictures.first.image.attached? %>
                                                <%= image_tag(pod.teacher.pictures.first.image, class: "rounded-circle flex-shrink-0", style: "width: 45px; height: 45px;", alt: "" ) %>
                                            <% end %>
                                                        <div class="ms-3">
                                                            <h6 class="text-primary mb-1">
                                                                <%= pod.teacher.name %>
                                                            </h6>
                                                            <small>Teacher</small>
                                                        </div>
                                        </div>
                                        <span class="bg-primary text-white rounded-pill py-2 px-3" href="">
                                            <%= pod.status %>
                                        </span>
                                    </div>
                                    <div class="row g-1">
                                        <div class="col-4">
                                            <div class="border-top border-3 border-primary pt-2">
                                                <h6 class="text-primary mb-1">Grade:</h6>
                                                <small>
                                                    <%= pod.grade %>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border-top border-3 border-success pt-2">
                                                <h6 class="text-success mb-1">Zipcode:</h6>
                                                <small>
                                                    <%= pod.address.zipcode %>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border-top border-3 border-warning pt-2">
                                                <h6 class="text-warning mb-1">State:</h6>
                                                <small>
                                                    <%= pod.address.state %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <% end %>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- Classes End -->

        <!-- Call To Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <%= image_tag("call-to-action.jpg", class: "position-absolute w-100 h-100 rounded",
                                    style: "object-fit: cover;" ) %>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">Apply for Pod</h1>
                                <p class="mb-4">Join our community of engaged parents and dedicated teachers by applying
                                    for a pod at Smart Pods. Pods provide a unique learning environment where children
                                    can thrive academically, socially, and emotionally.Each pod at Smart Pods is
                                    tailored to meet the individual needs of every child. Our small class sizes and
                                    personalized curriculum ensure that each student receives the attention and support
                                    they deserve.
                                </p>
                                <% if parent_signed_in? %>
                                    <%= link_to "Apply Now", new_application_path, class: "btn btn-primary py-3 px-5" %>
                                <% else %>
                                    <%= link_to "Apply Now", new_parent_session_path, class: "btn btn-primary py-3 px-5" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action End -->

