<%= form_with(model: @teacher, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <%= form.fields_for :pictures do |picture_form| %>
    <%= picture_form.label :image %>
    <%= picture_form.file_field :image %>
  <% end %>

  <%= form.submit "Add Teacher" %>
<% end %>
