<h1>Add a New Teacher</h1>

<%= form_with(model: @teacher, url: teachers_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <%= form.submit "Create Teacher" %>
<% end %>
<%= link_to "Return to Home Page", root_path %>
