<head>
      <%= stylesheet_link_tag "profile" %>

<head>
<section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color">Personal Information</h3>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>Name</label>
                                        <p><%= @teacher.name %></p>
                                    </div>
                                    <div class="media">
                                        <label>Grade</label>
                                        <p><%= @teacher.grade %></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>Phone</label>
                                        <p><%= @teacher.phone_number %></p>
                                    </div>
                                    <div class="media">
                                        <label>Education</label>
                                        <p><%= @teacher.education %></p>
                                    </div>
                                </div>
                            </div>
                            <h3 class="dark-color">Address</h3>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>State</label>
                                        <p><%= @teacher.address.state %></p>
                                    </div>
                                    <div class="media">
                                        <label>City</label>
                                        <p><%= @teacher.address.city %></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>Street</label>
                                        <p><%= @teacher.address.street %></p>
                                    </div>
                                    <div class="media">
                                        <label>ZipCode</label>
                                        <p><%= @teacher.address.zipcode %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            <% if @teacher.pictures.present? && @teacher.pictures.first.image.attached? %>
                              <%= image_tag @teacher.pictures.first.image, alt: "...", class: "img-fluid rounded-circle" %>
                            <% else %>
                              <%= image_tag 'team-2.jpg', alt: "Default Image", class: "img-fluid rounded-circle" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
