<%= form_with(model: @pod, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.collection_select :teacher_id, Teacher.all, :id, :name, prompt: "Select a teacher" %>
  </div>

  <div class="field">
    <%= form.fields_for :pictures do |picture_form| %>
    <%= picture_form.label :image %>
    <%= picture_form.file_field :image %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
